/**
 * @cycle2-slider
 */

.slider-inner {	
	clear: both;
	display:none;
	float: left;
	margin-top: 25px;
	margin-bottom: 50px;
	position: relative;
	width: 100%;
}
	
	.slider-inner .slide { 
		width: 100%;
	}
	
	.slider-inner img { 
		float: left;
		display: block; 
		height: auto;
		width: 100%;  
	}

	/**
	 * @prev-next
	 */

	.cycle-prev, 
	.cycle-next {
		background: #333;
		border-radius: 999px;
		color: #FFF;
		cursor: pointer;
		float: left;
		font-family: FontAwesome;
		font-size: 24px;
		height: 50px;
		line-height: 50px;
		margin-top: -25px;
		opacity: 0.8;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 50px;
		z-index: 999;
	}
	
	.cycle-prev:hover, 
	.cycle-next:hover { 
		opacity: 1; 
	}
	
	.cycle-prev {
		cursor: w-resize;
		left: -25px; 
	}
	
	.cycle-next {
		cursor: e-resize;
		right: -25px; 
	}
	
	/**
	 * @pager
	 */
	 
	.cycle-pager {
		bottom: 0;
		cursor: pointer;
		position: absolute;
		font-size: 43px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		width: 100%;
		z-index: 999;
	}

		.cycle-pager span {
			border: 3px solid #FFF;
			background-color: #FFF;
			border-radius: 999px;
			display: inline-block;
			height: 5px;
			margin: 20px 5px 0 0;
			text-indent: -999999px;
			width: 5px;
		}

			.cycle-pager span.cycle-pager-active {
				background-color: #999;
			}
		